body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1355px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:50px;
  width:1156px;
  height:734px;
}
#u628_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:734px;
  overflow:auto;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  overflow:hidden;
}
#u629_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u629_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:2px;
  width:514px;
  height:50px;
}
#u630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:514px;
  height:50px;
  background-color:transparent;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-decoration:none;
  color:#FFFFFF;
  text-align:center;
}
#u631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:66px;
  width:140px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
  text-align:center;
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:123px;
  width:131px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u633_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  word-wrap:break-word;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:14px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:133px;
  width:19px;
  height:14px;
}
#u635_img.mouseDown {
}
#u635.mouseDown {
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u636_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:180px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u636_div.mouseDown {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u636.mouseDown {
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u637_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:226px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:213px;
  width:180px;
  height:1px;
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:259px;
  width:180px;
  height:1px;
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:2px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:167px;
  width:180px;
  height:1px;
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:506px;
  height:466px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:148px;
  width:506px;
  height:466px;
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:345px;
  width:255px;
  height:94px;
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:251px;
  word-wrap:break-word;
}
