body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1757px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:1080px;
  top:16px;
  width:0px;
  height:0px;
}
#u119_seg0 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-4px;
  width:8px;
  height:8px;
}
#u119_seg1 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-1px;
  width:8px;
  height:5px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:1068px;
  top:16px;
  width:30px;
  height:18px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:34px;
  width:0px;
  height:0px;
}
#u121_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u121_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:59px;
  width:310px;
  height:8px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:72px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:320px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:1395px;
  top:114px;
  width:362px;
  height:320px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
